*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: 'Roboto', sans-serif;
}

/*header*/
header {
  font-size: 35px;
  font-weight: 900;
}

header img {
  width: 50px;
  vertical-align: middle;
  margin: 10px 0px 20px 20px;
}