*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: 'Roboto', sans-serif;
  color: #434750;
}

.container {
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}


/*header*/
header {
  font-size: 35px;
  font-weight: 900;
  color: black;
}

header img {
  width: 50px;
  vertical-align: middle;
  margin: 10px 0px 20px 20px;
}

/*main*/
main>div {
  margin-top: 20px;
}

.selector-buttons #add-task,#add-section {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
}

#add-task {
  background-color:#47ADF1;
  color: white;
}

#add-section {
  border: 1px solid #C5CBD0;
  color: #C5CBD0;
}

.new-task,.today,.upcoming {
  margin-top: 30px;
}

.choices {
  margin-top: 10px;
}

h4::before {
    content: '\25BE';
}

#flag {
  color: #55B9A0;
  border: 1px solid #55B9A0;
  border-radius: 50%;
}

#cross {
  color: #E7342B;
  border: 1px solid #E7342B;
  border-radius: 50%;
}

#click-here {
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 10px;/*
  background-color:#47ADF1;*/
  color: white;
}

.editorial {
  background-color:#47ADF1;
}

.q1 {
  background-color:#9C72E4; 
}

.recruiting {
  background-color:#64C0A9; 
}

.mobile {
  background-color:#F29E33; 
}

.website {
  background-color:#D863A1; 
}

.sales {
  background-color:#B0C926; 
}